* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background: #ffffff;
    color: --primary-text;
}

a {
    color: link-c;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: primary-text;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 :hover {
    color: primary-text-h
}

.active a {
    position: relative;
}

.active a:before {
    content: "";
    position: absolute;
    bottom: -7px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, #7dd3fc, transparent);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}